<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Guaflix- Ve tus Series y Peliculas Favoritas</title>
    @RenderSection("Content", false);
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body background="~/Content/fondo.jpg">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index","Home")"><span><img src="~/Content/GuaflixLG.png" height="30" /></span></a>

            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("RegistrarUsuarios","Home")"><span class="glyphicon glyphicon-user" style="color:deepskyblue"></span> Registrarse</a></li>
                <li><a href="@Url.Action("Login","Home")"><span class="glyphicon glyphicon-log-in" style="color:deepskyblue"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="color:white">&copy; @DateTime.Now.Year - Guaflix Josue Higueros && Pablo Alvarado</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
