@model IEnumerable<Proyecto.Models.Pelicula>

@{
    ViewBag.Title = "Ver Pelicula";
}

@section Content{
    <link href="@Url.Content("~/Content/Pelicula.css")" rel="stylesheet" type="text/css" />
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index","Home")"><span><img src="~/Content/GuaflixLG.png" height="30" /></span></a>
        </div>


        <div class="btn-group" style="float:right; margin-right:25px; background-color:transparent; margin-top:15px; color:white">
            <button type="button" class="btn btn-default dropdown-toggle" style="background-color:transparent; color:deepskyblue; border-color:transparent" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span> @ViewBag.Message
            </button>

            <ul class="dropdown-menu" role="menu" style="right:100%;">
                <li><a href="@Url.Action("MiUsuario","Home")"> Mi Cuenta</a></li>
                <li><a href="@Url.Action("CerrarSesion","Home")">Cerrar Seción</a></li>
            </ul>
        </div>
    </div>
</nav>

<div style="background-color:deepskyblue; height:50px; opacity:0.5; border-radius:8px;"></div>
<br />
<div style="height:400px;">
    <div>
        <p style="float:left; padding-left:10px;">@Html.ActionLink("Regresar a mis Peliculas", "MisPeliculas")</p>
        <p style="float:right">@Html.ActionLink("Eliminar de Mi WatchList", "Edit", new { /* id=item.PrimaryKey */ })</p>
        <p style="color:transparent; float:right">.....</p>
        <p style="float:right">@Html.ActionLink("Agregar a Mi WatchList", "Edit", new { /* id=item.PrimaryKey */ })</p>
    </div>

    @foreach (var item in Model)
    {<br />
        <h2 style="color:white">@Html.DisplayFor(modelItem => item.Nombre)</h2>
        <div style="padding-left:10px;" class="wrapper">
            <img src="@Url.Content(item.URL)" style="width:200px; height:300px; border: 1px solid white; border-radius:5px; float:left; margin: 10px 10px 0 0;" />
            
            @if (item.Nombre == "Stranger Things")
            {
            <div align="center" style="float:right; margin-top:0px; align-content:center; background-color:lightskyblue; opacity:0.6; border-radius: 5px; width:570px; height:325px;">
                <iframe style="padding-top:5px;" width="560" height="315" src="https://www.youtube.com/embed/XWxyRG_tckY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            }else if(item.Nombre == "Riverdale")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=HxtLlByaYTc&t=16s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }
            else if(item.Nombre == "Dark")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=IJ_AZCvCacw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }
            else if(item.Nombre == "The Flash")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=Yj0l7iGKh8g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }
            else if(item.Nombre == "SuperGirl")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=s9UjhXxt558" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }
            else if(item.Nombre == "13 Reasons Why")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=taMknA8wFrY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }else if(item.Nombre == "Avengers Infinity War")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=QwievZ1Tx-8&t=1s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }else if(item.Nombre == "Black Panther")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=fsT5SyBLlIg&t=102s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }else if(item.Nombre == "How I Met your Mother")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=apRiP2h-O5o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }else if(item.Nombre == "Lo Mejor de Mi")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=uefIQcwabBg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }else if(item.Nombre == "God´s not Dead")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=bMjo5f9eiX8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }else if(item.Nombre == "Civil-War")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=dKrVegVI0Us" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }else if(item.Nombre == "Anabelle 2")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=FIdzGOMbVss" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }else if(item.Nombre == "Arrow")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=uFdqDMxlx88" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }else if(item.Nombre == "Son Como Niños")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=yMEDiKD7cyE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }else if(item.Nombre == "Pacific Rim")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=5guMumPFBag" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }else if(item.Nombre == "Guadalquivir")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=pAlM8k5TNCs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }else if(item.Nombre == "Life")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=IBws4yj7W1A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }else if(item.Nombre == "Ratatouille")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=c3sBBRxDAqk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }else if(item.Nombre == "Lluvia de Hamburguesas")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=k33j4MGrTbg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }else if(item.Nombre == "Los Juegos del Hambre-En Llamas")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=MRwlg4ImXZg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }else if(item.Nombre == "Divergente")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=853LDxEaf2k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }else if(item.Nombre == "Maze Runner-Prueba de Fuego")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=ixGEHMkm1t8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }else if(item.Nombre == "BayWatch")
            {
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=eyKOgnaf0BU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            }
            <br />
        </div>
        <table>
            <tr><td><h4 style="color:white">Tipo: @Html.DisplayFor(modelItem => item.Tipo)</h4></td></tr>
            <tr><td><h4 style="color:white">Año: @Html.DisplayFor(modelItem => item.AniodeLanzamiento)</h4></td></tr>
            <tr><td><h4 style="color:white">Genero: @Html.DisplayFor(modelItem => item.Genero)</h4></td></tr>
       </table>
        <br />
        



    }
</div>
<br />
<div style="float:left; padding-left:50px;">
    <form style="float:left">
        <p class="clasificacion">
            <input id="radio1" name="estrellas" value="5" type="radio">
            <!--
            -->
            <label for="radio1">★</label>
            <!--
            -->
            <input id="radio2" name="estrellas" value="4" type="radio">
            <!--
            -->
            <label for="radio2">★</label>
            <!--
            -->
            <input id="radio3" name="estrellas" value="3" type="radio">
            <!--
            -->
            <label for="radio3">★</label>
            <!--
            -->
            <input id="radio4" name="estrellas" value="2" type="radio">
            <!--
            -->
            <label for="radio4">★</label>
            <!--
            -->
            <input id="radio5" name="estrellas" value="1" type="radio">
            <!--
            -->
            <label for="radio5">★</label>
            <label id="especial"> :Valorar</label>
        </p>
    </form>
</div>


<div style="background-color:deepskyblue; height:50px; opacity:0.5; border-radius:8px; margin-top:30px;"></div>

