
@{
    ViewBag.Title = "MenudeDecision";
}

<body style="background-image: url('/Content/Sala.jpg'); background-size:cover;">
</body>

@Html.Raw(TempData["msg"])

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index","Home")"><span><img src="~/Content/GuaflixLG.png" height="30" /></span></a>
        </div>


        <div class="btn-group" style="float:right; margin-right:25px; background-color:transparent; margin-top:15px; color:white">
            <button type="button" class="btn btn-default dropdown-toggle" style="background-color:transparent; color:deepskyblue; border-color:transparent" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> @ViewBag.Message
            </button>

            <ul class="dropdown-menu" role="menu" style="right:100%;">
                <li><a href="@Url.Action("RegistrarUsuarios","Home")"> Mi Cuenta</a></li>
                <li><a href="#">Cerrar Seción</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="form-group" style="height:350px">
    <br />
    <br />
    <div style="border:2px solid white; border-radius: 8px; background-color:black; opacity:0.8; color:white; height:230px; width:600px; margin-left:170px; position:absolute; margin-top: 10px;">
        <br />
        <h2 style="color:white" align="center">Bienvenido @ViewBag.Message</h2>
        <h5 style="color:white" align="center">Selecciona Una Opcion:</h5>
        <br />
        <div style="float:left; margin-top:30px; margin-left:100px; position:relative;">
            @Html.ActionLink("Cargar Archivo Json", "UploadFile", "Home", null, new { @class = "btn btn-primary btn-large"})
        </div>
        <div style="float:right; margin-top:30px; margin-right: 120px; position:relative;">
            @Html.ActionLink("Ver Mis Peliculas", "MisPeliculas", "Pelicula", null, new { @class = "btn btn-primary btn-large"})
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />

